{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bid page</title>
    <link rel="stylesheet" href="{% static 'bid.css' %}">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    {% include "helper/msg.html" %}
    {% endfor %}
    {% endif %}
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Auction Logo">
        </div>
        <div class="search-bar">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>   
    <div class="container">
        <!-- Product Display Section -->
        <div class="product-display">
            <img src="{{product.picture.url}}" alt="Product Image" class="product-image" height="600px" width="700px">
            <h2 class="product-name">{{product.name}}</h2>
        </div>
        
        <!-- Bidding Section -->
        <div class="bidding-section">
            <form action="" method="post">
                {% csrf_token %}
                <label for="bid_price">Place Your Bid:</label>
                <input name="bid_price" type="number" min="{{product.starting_price}}" value="{{product.starting_price}}" placeholder="Enter bidding amount" required>
                <button type="submit" class="bid-button">Bid</button>
            </form>
        </div>
    </div>
    
</body>
</html>


