{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bidder bids</title>
    <link rel="stylesheet" href="{% static 'bids_won.css' %}">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    {% include "helper/msg.html" %}
    {% endfor %}
    {% endif %}
    <header style="height: 50px;">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Auction Logo">
        </div>
        <div class="search-bar">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'bidders bid' %}">Bids</a></li>
                <li><a href="{% url 'bids won' %}">Bids Won</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="grid-container" style="margin-top: 100px;">
            {% for bid in bids %}
            <div class="grid-item" style="height: 500px; width: 400px;">
                <img src="{{ bid.bidding.product.picture.url }}" alt="Plain White T-shirt" style="height: 300px; width: 500px;">
                <p>{{bid.bidding.product.name}}</p>
                <p>Start Date: {{ bid.bidding.product.created_at|date:"M. j, Y" }}</p>
                <p>End Date: {{ bid.bidding.product.bidding_ending_date }}</p>
                <p>End Time: {{ bid.bidding.product.bidding_ending_time }}</p>
                <p>Price: {{bid.bidding.product.starting_price}}</p>
                {% if bid.bidding.product.is_sold %}
                <a href="#"><button class="status in-auction">Delivered</button></a>
                {% elif bid.bidding.product.is_returned %}
                <a href="#"><button class="status in-auction">Returned</button></a>
                {% else %}
                <a href="{% url 'sold_product' bid.bidding.product.id %}"><button class="status sold">Received</button></a>
                <a href="{% url 'returned_product' bid.bidding.product.id %}"><button class="status sold">Returned</button></a>
                {% endif %}    
            </div>          
            {% endfor %}
        </div>    
    </div>
</body>
</html>