{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction System - Explore</title>
    <link rel="stylesheet" href="{% static 'your_product.css' %}">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    {% include "helper/msg.html" %}
    {% endfor %}
    {% endif %}
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Auction Logo">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <aside>
            <div class="profile">
                <img src="{% static 'images/profile.png' %}" alt="Profile Image">
                <p>Naresh Tamang</p>
                <a href="{% url 'profile' %}">Edit Profile</a>
            </div>
            <ul class="sidebar-menu">
                <li><a href="{% url 'your product' %}">Your Products</a></li>
                <li><a href="{% url 'add product' %}">Add Products</a></li>
            </ul>
        </aside>
        <div class="grid-container" style="margin-top: 100px;">
            {% for product in products %}
            <div class="grid-item" style="height: 500px; width: 400px;">
                <img src="{{ product.picture.url }}" alt="Plain White T-shirt" style="height: 300px; width: 500px;">
                <p>{{product.name}}</p>
                {% if product.is_sold %}
                <div class="status in-auction">Sold</div>
                {% else %}
                <div class="status in-auction">Not Sold</div>
                {% endif %}                
                <p>Start Date: {{ product.created_date }}</p>
                <p>End Date: {{ product.bidding_ending_date }}</p>
                <p>End Time: {{ product.bidding_ending_time }}</p>
                <p>Price: {{product.starting_price}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>