{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Auction - Login</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Smart Auction Logo">
        </div>
        <div class="header-title">
            <h1>Auction System</h1>
        </div>
    </header>
    <div class="container">
        <div class="login-form">
            <h2>Sign Up</h2>
            <form method = "POST">
                {% csrf_token %}
                <label for="options">Choose Role:</label>
                <select id="options" name="role">
                    <option value="Bidder">Bidder</option>
                    <option value="Auctioneer">Auctioneer</option>
                </select><br />
                <input type="email" name = "email" placeholder="Email" required>
                <input type="password" name = "password" placeholder="Password" required>
                <input type="password" name = "confirm_password" placeholder="Confirm Password" required>
                <button type="submit">Register</button>
                <p>Already have an account? <a href="{% url 'login' %}">LogIn</a></p>
            </form>
        </div>
    </div>
</body>
</html>